.simplexTable{
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: 50%;
    aspect-ratio: 5/2;
}
.row{
    flex: 1;
    width: 100%;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.row > div {
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.col_bv{
    flex: 1;
}

.col_var, .col_bi{
    flex: 2;
}

.col_biaij{
    flex: 3;
}