.simplexTableauContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

#simplexTableau, .simplexTableau{
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: 50%;
    aspect-ratio: 5/2;
}
.row{
    flex: 1;
    width: 100%;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.row > div {
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#row_help {
    margin-top: 40px;
}

.col_bv{
    flex: 1;
}

.col_var, .col_bi, .col_biaij{
    flex: 2;
}

#stepper{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 20px;
    align-items: center;
}

#stepperButtons{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.stepperButton{
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    flex:1;

}
#indicators{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pivot{
    background-color: #FCAB64;
}
.pivotElement, .transformation_undone{
    background-color: #A4303F;
}

.highlight{
    background-color: #ADFFD9;
}

.baseSwap{
    background-color: #A4303F;
}

.hidden {
    visibility: hidden !important;
}

.historyEntry{
    margin-top: 100px;
}

.displayNone {
    display: none !important;
}